<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>Healthcare Analysis</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
<link href="{{ url_for('static', filename = 'css/style.css') }}" rel="stylesheet" type="text/css" media="all" />
<script src="{{ url_for('static', filename = 'js/jquery-1.7.1.min.js') }}" type="text/javascript"></script>
</head>
<body>
<div class="h_bg">
<div class="wrap">
<div class="header">
		<div class="logo">
			<h1><a href="{{url_for('index')}}"><img src="{{ url_for('static', filename = 'images/logo.png') }}" alt=""></a></h1>
		</div>
	</div>
</div>
</div>
<div class="nav_bg">
<div class="wrap">
		<ul class="nav">
			<li >
			<a href="{{url_for('index')}}">Home</a></li>
			<li><a href="{{url_for('search')}}">Search</a></li>
			<li><a href="{{url_for('classify')}}">Classification</a></li>
			<li class="active"><a href="{{url_for('association')}}">Association Rule Mining</a></li>
			<li ><a href="{{url_for('cumsum')}}">Cumsum Calculator</a></li>
			<li><a href="{{url_for('about')}}">About The Team</a></li>
		<div class="clear"></div>
		</ul>
</div>
</div>
<div class="s_bg">
<div class="wrap">
<div class="cont_main">
<div class="contact">
<div class="section group">	
	<div class="col span_3_of_3">
				<div class="contact-form">		
<h3>Association Rule Mining</h3>		
 <div>
      {% if filename%}
	 <p> {{filename}}:Uploaded Successfully</p>
	  {%endif%}
      <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="file"><br /><br />
        <input type="submit" value="Upload">
      </form>
      </div>		
					    <form action="/rules/{{filename}}" method="POST">
					    	<div>
						    	<span><label>Select Columns</label></span>	<br/>	
								{%if columns%}	
								
								{% for col in columns %}
								
							<input type="checkbox" name="attr" value="{{col['col_no']}}"> {{col['col']}}<br/>
								
								{%endfor %}
										
								{%endif%}
								
								<span><label>Support</label></span>
							<input type="text" name="support" id="support" value="{{support}}" class="textbox"><span><Label> range: 0-1</Label></span><br/>
							<span><label>Confidence</label></span>
							<input type="text" name="confidence" id="confidence" value="{{confidence}}"class="textbox"><span><Label>ideally greater than 0.5</Label></span>
						    
							</div>
						<div>
						   		<span><input type="submit" value="Find Rules"></span>
						  </div>
					    </form>
						<div>
						
								{%if selectedcolumnlist%}
								<ul>
								{%for clmn in selectedcolumnlist%}
								<li>{{clmn}}</li>
								{%endfor%}
								</ul>
								{%endif%}
								
						</div>
				</div>	
		</div>
		<div class="clear"></div>
		<div class="col span_2_of_3">
		<h3>Association Rules Found: </h3>
							{%if support and confidence %}<span><p>minSupport  :{{support}}</p></span><br/><span><p>minConfidence:{{confidence}}</p></span>{%endif%}
		{%if ruleslist%}<br/><br/>
		{%for rule in ruleslist%}
		<span><p>
							{{rule}}
								
								
								</p></span><br/>
								{%endfor%}
								{%endif%}
								
								
</div>
<div class="clear"></div>
</div>
</div>
</div>
</div>
</div>
<div class="ftr-bg">
<div class="wrap">
<div class="footer">
		<div class="copy">
			<p class="w3-link"><a href="{{url_for('about')}}"> Group 5</a></p>
		</div>
	<div class="clear"></div>
</div>
</div>
</div>
</body>
</html>